@import "aquiles.css";

.content-wrapper {
    background-color: white !important;
}

.thinbar{
    background-color:#da251c;
    height: 4px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #da251c !important;
    border-color: #da251c !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus,
.pagination > li > span:hover {
    color: #da251c !important;
}

.btn-novo {
    width: 100px;
}

.skin-blue .sidebar a {
    color: black !important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #EFEFF1 !important;
}

.skin-blue .sidebar-menu > li.header {
    color: #333 !important;
    background: #ddd !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background-color: #1e477b !important;
    color: white !important;
    border-left-color: #da251c !important;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #d0e0f4 !important;
    margin-left: 0px !important;
}

.skin-blue .sidebar-menu > li > .treeview-menu li:hover {
    border-left: 3px solid #da251c;
}

.skin-blue .sidebar-menu > li > .treeview-menu > li > a {
    color: black !important;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 11px !important;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: white !important;
}

.main-header .logo {
    font-family: Tahoma !important;
    font-size: 17px !important;
}

.skin-blue .sidebar-form {
    border: 0px !important;
    margin: 0px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    padding: 12px 5px 17px 20px !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    font-size: 12px !important;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    font-size: 13px !important;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    font-size: 11px !important;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    font-size: 16px !important;
}

.content-header > h1 {
    font-size: 22px !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus,
.pagination > li > span:hover {
    color: white !important;
}

.timeline-header {
    font-size: 13px !important;
}

.timeline-header a {
    font-size: 15px;
    font-weight: bold;
    color: #1e477b;
}

.info-box-icon {
    height: 46px !important;
    width: 60px !important;
}

.info-box-content {
    padding: 0px !important;
    font-size: 12px;
}

.info-box {
    min-height: 45px !important;
}

.progress-description, .info-box-text {
    font-size: 11px !important;
    font-family: Tahoma;
}

.info-box-number {
    font-size: 12px !important;
    font-family: Tahoma;
}

.description-block .description-header {
    font-size: 12px;
}

.description-block .description-text {
    font-size: 10px;
}

.dropdown-menu .modulos_mosaico ul {
    list-style: none;
    padding: 13px;
    height: 96%;
}

.arrow-up {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid white;
    position: relative;
    top: -23px;
    left: 235px;
}

.dropdown-menu .modulos_mosaico ul li {
    height: 69px;
    text-align: center;
    width: 110px;
    margin: 7px;
    font-size: 10px;
    float: left;
    padding: 3px;
    border: 1px solid white;
}

.dropdown-menu .modulos_mosaico ul li:hover {
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.dropdown-menu {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    margin-top: 12px !important;
}

.dropdown-menu .footer {
    border-top: 1px solid #e5e5e5;
}

.textresizer {
    list-style: none;
    margin: 0px;
    margin-top: 12px;
    margin-left: 3px;
}

.textresizer li {
    display: inline;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    margin-right: 5px;
}

.textresizer a {
    padding: 2px 3px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

ul.textresizer a.textresizer-active {
    border: solid 1px #da251c;
    color: #ffffff;
}

.convenio-select span {
    color: white;
}

.convenio-select {
    width: 110px;
    margin-top: 10px;
}

.convenio-select .select2 {
    font-size: 10px !important;
    font-family: Tahoma !important;
    width: 100px !important;
}

.convenio-select .select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    background-color: #da251c !important;
    border: 0px !important;
    border-bottom: 1px solid white !important;
}

.convenio-select .select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    padding: 2px 10px !important;
}

.convenio-select .select2 {
    width: 105px !important;
}

.convenio-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: bold;
}

.tabelaEdicaoRapida tr td {
    width: 90%;
}

.tabelaEdicaoRapida tr:last-child {
    width: 10%;
}

@media screen and ( max-width: 770px) {
    .arrow-up {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid white;
        position: relative;
        top: -21px;
        left: 210px;
    }

    .dropdown-menu {
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        margin-top: 3px !important;
    }
}